# Import data

In [1]:
# Exercise 1: Import data

# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Assign path string to variable
path = r'D:\Docs\Career Foundry\II. Data Immersion\4. Python Fundamentals for Data Analysts\Instacart Basket Analysis - Alina Racu'

In [3]:
# Import file
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', '4.7 orders_products_merged_variables.pkl'))

In [4]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders

In [5]:
# Check
df_ords_prods_merged.shape

(9990906, 18)

# Grouping & aggregating data

In [6]:
# Exercise 2: Find the aggregated mean of the "order_number" column grouped by "department_id" for the entire df
df_ords_prods_merged.groupby("department_id").agg({"order_number": ["mean"]})

              order_number
                      mean
department_id
1                15.422107
2                17.371863
3                17.175465
4                17.826187
5                15.248798
6                16.397500
7                17.225094
8                15.449056
9                15.934130
10               20.457094
11               16.156811
12               15.891120
13               16.568880
14               16.784712
15               16.189707
16               17.662839
17               15.753718
18               19.257587
19               17.151675
20               16.447376
21               22.971872

In [7]:
# Exercise 3: How do the results for the entire dataframe differ from those of the subset?

The results in the dataframe and the subset are relatively similar, with slight variations in some departments (+/-1 order).

# Aggregating data with transform() & deriving columns with loc()

In [8]:
# Exercise 4: Create a customer loyalty flag column

In [9]:
# Step 1: Use the transform() function to create a new column containing the maximum frequency of the "order_number" column
# Create a new column, "max_order" into which to place the results of the aggregation
# Group data in df by "user_id" column
# Transform the "order_number" column by applying the max() function from the NumPy library 

df_ords_prods_merged["max_order"] = df_ords_prods_merged.groupby(["user_id"])["order_number"].transform(np.max)

In [10]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9

In [11]:
# Step 2: Use the loc() function to create a 2nd column containing a flag on whether a customer is "loyal" or not

In [12]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [13]:
df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [14]:
df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [15]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer
1,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7,New customer
2,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer
3,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer
4,532817,19,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer

In [16]:
# Check counts
df_ords_prods_merged["loyalty_flag"].value_counts(dropna = False)

Regular customer    4719480
Loyal customer      2960923
New customer        2310503
Name: loyalty_flag, dtype: int64

In [17]:
# Copy count table to clipboard
df_ords_prods_merged["loyalty_flag"].value_counts(dropna = False).to_clipboard()

In [18]:
# Exercise 5: Check the basic statistics of the product prices for each loyalty category
df_ords_prods_merged.groupby("loyalty_flag").agg({"prices": ["mean", "min", "max"]})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.429542  1.0  99999.0
New customer      13.106383  1.0  99999.0
Regular customer  12.699774  1.0  99999.0

In [19]:
# Exercise 6: Create a spending flag for each user based on the average price across all their orders

In [20]:
# Step 1: Use the transform() function to create a new column containing the mean values of the "prices" column
df_ords_prods_merged["avg_price"] = df_ords_prods_merged.groupby(["user_id"])["prices"].transform(np.mean)

In [21]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444
1,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444
2,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer,6.344444
3,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.912500
4,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.906349

In [22]:
# Step 2: Use the loc() function to create a 2nd column containing a flag on whether a customer is a high spender or not

In [23]:
df_ords_prods_merged.loc[df_ords_prods_merged["avg_price"] < 10, 'spending_flag'] = 'Low spender'

In [24]:
df_ords_prods_merged.loc[df_ords_prods_merged["avg_price"] >= 10, 'spending_flag'] = 'High spender'

In [25]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender
1,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444,Low spender
2,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer,6.344444,Low spender
3,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.912500,Low spender
4,532817,19,7,4,17,6.0,196,1,1,Soda,...,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.906349,Low spender

In [26]:
# Check counts
df_ords_prods_merged["spending_flag"].value_counts(dropna = False)

Low spender     9805888
High spender     185018
Name: spending_flag, dtype: int64

In [27]:
# Copy count table to clipboard
df_ords_prods_merged["spending_flag"].value_counts(dropna = False).to_clipboard()

In [28]:
# Exercise 7: Create an order frequency flag that marks the regularity of a user's ordering behavior according to the median in the "days_since_prior_order"

In [29]:
# Step 1: Use the transform() function to create a new column containing the median values of the "days_since_prior_order" column
df_ords_prods_merged["median_prior_order"] = df_ords_prods_merged.groupby(["user_id"])["days_since_prior_order"].transform(np.median)

In [30]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_prior_order
0,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0
1,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0
2,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer,6.344444,Low spender,21.0
3,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.912500,Low spender,14.0
4,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.906349,Low spender,6.0

In [31]:
# Step 2: Use the loc() function to create a 2nd column containing a flag on whether a customer is a frequent or not

In [32]:
df_ords_prods_merged.loc[df_ords_prods_merged["median_prior_order"] > 20, "order_frequency_flag"] = "Non-frequent customer"

In [33]:
df_ords_prods_merged.loc[(df_ords_prods_merged["median_prior_order"] > 10) & (df_ords_prods_merged["median_prior_order"] <= 20), "order_frequency_flag"] = "Regular customer"

In [34]:
df_ords_prods_merged.loc[df_ords_prods_merged["median_prior_order"] <= 10, "order_frequency_flag"] = "Frequent customer"

In [35]:
# Check
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_prior_order,order_frequency_flag
0,473747,1,3,3,12,21.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer
1,431534,1,5,4,15,28.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer
2,550135,1,7,1,9,20.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,7,New customer,6.344444,Low spender,21.0,Non-frequent customer
3,487368,15,22,1,10,14.0,196,1,1,Soda,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.912500,Low spender,14.0,Regular customer
4,532817,19,7,4,17,6.0,196,1,1,Soda,...,Mid-range product,Least busy,Slowest days,Average orders,9,New customer,8.906349,Low spender,6.0,Frequent customer

In [36]:
# Check counts
df_ords_prods_merged["order_frequency_flag"].value_counts(dropna = False)

Frequent customer        6594124
Regular customer         2024899
Non-frequent customer    1290903
NaN                        80980
Name: order_frequency_flag, dtype: int64

In [37]:
# Copy count table to clipboard
df_ords_prods_merged["order_frequency_flag"].value_counts(dropna = False).to_clipboard()

# Export data

In [38]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', '4.8 orders_products_merged_variables.pkl'))